#game-page .container {
    display: flex;
    justify-content: space-around;
}

#game-container {
    margin: 50px 100px;
    height: 600px;
    width: 700px;
}

#text-container {
    margin: auto;
    padding: 0 100px;
}

#timer {
    margin: auto;
}

#game-page ul {
    list-style: none;
    margin: 30px;
}

#game-page ul i {
    font-size: 14px;
}

#game-page ul i {
    font-size: 12px;
    margin: 20px;
}

.ready-status-red {
    color: red;
}

.ready-status-green {
    color: green;
}

#ready-btn {
    margin: auto;
    padding: 40px;
    font-size: 30px;
}

.time-left-label {
    position: absolute;
    top: 10px;
    right: 10px;
}

.selected-text {
    display: inline;
    background-color: #bfe5c7;
}


.left-text:first-letter {
    text-decoration: underline;
    background-color: orange;
}

.selected-letter {
    background-color: orange;
}